<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} Concept Mapping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="column">
            <div id="network"></div>
            <input type="button" value="Save image" onclick="document.getElementById('canvasImg').click();">
            <a id="canvasImg" download="filename"></a>
        </div>

        <div class="column">
            <pre id="eventSpanContent"></pre>
        </div>
    </div>

    <script>
        let nodes = new vis.DataSet(JSON.parse('{{nodes | tojson}}'));
        let edges = new vis.DataSet(JSON.parse('{{edges | tojson}}'));
        
        let nodeInfo = JSON.parse('{{info | tojson}}');
        console.log(nodeInfo);

        let container = document.getElementById("network");
        let data = { nodes: nodes, edges: edges };
        let options = {     
            physics: false,
            layout: { 
                randomSeed: 1,
                hierarchical: {
                  direction: 'UD',
                },
            } 
        };
        let network = new vis.Network(container, data, options);

        network.on("click", function (params) {
            params.event = "[original event]";
            document.getElementById("eventSpanContent").innerText = JSON.stringify(
                params,
                null,
                4
            );
        });

        network.on("afterDrawing", function(ctx) {
            let dataURL = ctx.canvas.toDataURL();
            document.getElementById('canvasImg').href = dataURL;
        });
    </script>
</body>

</html>