<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} Concept Mapping</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="column">
            <div id="network"></div>
            <!-- <button>Save as PNG</button> -->
            <input type="button" value="Download image" onclick="document.getElementById('canvasImg').click();">
            <a id="canvasImg" download="filename"></a>
        </div>

        <div class="column">
            <h2 id="eventSpanHeading"></h2>
            <pre id="eventSpanContent"></pre>
        </div>
    </div>

    <script>
        var nodes = new vis.DataSet([
            { id: 1, label: "Node 1" },
            { id: 2, label: "Node 2" },
            { id: 3, label: "Node 3" },
            { id: 4, label: "Node 4" },
            { id: 5, label: "Node 5" },
        ]);

        var edges = new vis.DataSet([
            { from: 1, to: 3, label: "Test", font: { align: "top" } },
            { from: 1, to: 2 },
            { from: 2, to: 4 },
            { from: 2, to: 5 },
            { from: 3, to: 3 },
        ]);

        var container = document.getElementById("network");
        var data = {
            nodes: nodes,
            edges: edges,
        };
        var options = { layout: { randomSeed: 1 } };
        var network = new vis.Network(container, data, options);

        network.on("click", function (params) {
            params.event = "[original event]";
            document.getElementById("eventSpanHeading").innerText = "Click event:";
            document.getElementById("eventSpanContent").innerText = JSON.stringify(
                params,
                null,
                4
            );
        });

        network.on("afterDrawing", function(ctx) {
            var dataURL = ctx.canvas.toDataURL();
            document.getElementById('canvasImg').href = dataURL;
        });
    </script>
</body>

</html>